# First program in python

In [1]:
print("Hello world")

Hello world

# Definitions
## Keywords
Keywords are reserved words in python

* and
* as
* assert
* break
* class
* continue
* def
* del
* elif
* else
* except
* finally
* False
* for
* from
* global
* if
* import
* in
* is
* lambda
* nonlocal
* None
* not
* or
* pass
* raise
* return
* True
* try
* with
* while
* yield
## Types of Tokens
  ### Punctuators
  Punctuators are symbols to organize sentence structure in programming.
  ## Expression Execution
  * String & Numeric values can operate together with *
    ``` python
    a,b = 2,3
    txt = "@"
    print(a*txt*b)
    ```
  * String & String can operate with +
    ``` python
    a,b = "2",3
    txt = "@"
    print((a+txt)*b)
    ```
  * Numeric values can operate with all arithemetic operators
    ``` python
    a,b = 2,3
    c = 4
    print(a+b*c)
    ```
  * Arithmetic expression with Integer and float will result in float
    ``` python
    a,b = 10,5.0
    c = a*b
    print(c)
    ```
  * Result of division operator with two integers will be float
    ``` python 
    a,b = 1,2
    c = a/b
    print(c)
    ```
  * Integer division with float and int will give int displayed as float
    ``` python
    a,b = 1.5,3
    c = a//b
    print(c, a/b)
    ```
  * Floor gives closest integer, which is lesser than or equal to the float value
    Reslut of (a//b) is same as floor(a/b)
    ``` python
    a,b = 12,5
    c = a//b
    print(c)
    ```
    _________
    ``` python
    a,b = 12,5
    c = a//b
    print(c)
    ```
    _________
    ``` python
    a,b = 12,-5
    c = a//b
    print(c)
    ```
  * Remainder is negative when denominator is negative
    ``` python
    a,b = -5,2
    c = a%b
    print(c)
    ```
    _________
    ``` python
    a,b = 5,2
    c = a%b
    print(c)
    ```
    ________
    ``` python
    a,b = 5,-2
    c = a%b
    print(c)
    ```
## Input in Python
`input()` statement is used to accept values(using keyboard) from user.
## Types of Operators
An operator is a symbol that performs a certain operation between two operands.
* Arithmetic Operator (+,-,*,/,%,**)
* Relational / Comparison Operators (==, !=, >, <, >=, <=)
* Assignment Operators (=. +=, -=, *=, /=, %=, **=)
* Logical Operators (`not`, `and`, `or`)
## Lists in Python
A built-in data type that stores set of values.
It can store elements of different types (int, float, str, etc...)
```
marks = [46,73,93,74,82,91]
```
## Tuples in Python
A built-in data type that lets us create immutable sequences of values.
``` python
mytup = (2,4,6,1,4,3,8)
```
## Dictionary in Python
Dictionaries are used to store data values in `key:value` pairs.
They are unordered, mutable(Changeable) & don't allow duplicate keys.

# Variables

In [2]:
name = "Zeeshan"
field = "Machine Learning"
print("My name is",name, "\n", "I am learning",field)

My name is Zeeshan
 I am learning Machine Learning

## Sum

In [9]:
a = 3
b = 5
sum = a + b
sum

8

# Datatypes
## Primary Datatypes
* int
* str
* float
* bool
* none

In [3]:
a = 12
type(a)

int

In [4]:
name = "Zeeshan"
type(name)

str

In [5]:
salary = 18.3
type(salary)

float

In [7]:
old = False
type(old)

bool

In [8]:
b = None
type(b)

NoneType

## conditional statements
* if
* elif
* else

In [11]:
color = input("Enter color: ")
if color == "red":
    print("Stop")
elif color == "green":
    print("You can go now")
elif color == "yellow":
    print("Slow down")
else:
    print("Light is broken")

Enter color:  green

You can go now

In [14]:
grade = "empty"
marks = int(input("Enter your marks: "))
if marks >= 90:
    grade = "A"
elif marks >= 80 and marks < 90:
    grade = "B"
elif marks >= 70 and marks < 80:
    grade = "C"
elif marks <= 60:
    grade = "D"
print(grade)

Enter your marks:  10

D

In [1]:
grade = "empty"
marks = int(input("Enter your marks: "))
if marks >= 90:
    grade = "A"
elif marks >= 80 and marks < 90:
    grade = "B"
elif marks >= 70 and marks < 80:
    grade = "C"
elif marks <= 60:
    grade = "D"
print(grade)

Enter your marks:  20

In [7]:
light = input("Enter light color: ")
action = ["Stop", "Go", "Slow"]
if light != "red" and light != "green" and light != "yellow":
    action = "Invalid Signal Color"
elif light == "red":
    action = action[0]
elif light == "green":
    action = action[1]
elif light == "yellow":
    action = action[2]
print(action)

Enter light color:  blue

Invalid Signal Color

In [9]:
# Grade Students based on marks
marks = int(input("Enter marks: "))
if marks >= 90:
    grade = "A"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
else:
    grade = "D"
print("Your Grade is "+grade)

Enter marks:  90

Your Grade is A

In [11]:
# Write a program to check if a number entered by the user is odd or even.
num = int(input("Enter Number: "))
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter Number:  3

3 is odd

In [13]:
# Write a program to check if a number is a multiple of 7 or not.
num = int(input("Enter a number: "))
if num % 7 == 0:
    print(num, "is multiple of 7")
else:
    print(num, "is not a multiple of 7")

Enter a number:  17

17 is not a multiple of 7

In [16]:
# Write a program to find the greatest of 3 numbers entered by the user.
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))
if a >= b and a >= c:
    print(a,"is greatest number")
elif b >= c:
    print(b,"is greatest number")
elif c >= a and c >= b:
    print(c,"is greatest number")

Enter a:  1
Enter b:  3
Enter c:  2

3 is greatest number

### Single line If / Ternary Operator

In [25]:
grade = input("Enter your grade: ")
marks = 90 if grade == "A" else "I dont know"
print(marks)

Enter your grade:  A

90

### Clever if / Ternary Operator

In [31]:
age = int(input("Enter your age: "))
vote = ("vote", "no vote") [age < 18]
print(vote)

Enter your age:  17

no vote

In [34]:
salary =float(input("Enter your salary: "))
tax = salary*(0.1,0.2) [salary> 50000]
print(tax)

Enter your salary:  40000

4000.0

## Operators
### Arithmetic Operators

In [1]:
a = 5
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a**b)
print(a / b)
print(a//b)
print(a%b)

8
2
15
125
1.6666666666666667
1
2

### Relational Operators

In [2]:
a = 70
b = 40
print(a == b)
print( a != b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)

False
True
True
False
True
False

### Assignmet Operators

In [5]:
num = 10
num += 10
print(num)
num = 10
num -= 10
print(num)
num = 10
num *= 10
print(num)
num = 10
num /= 10
print(num)
num = 10
num //= 10
print(num)
num = 10
num **= 10
print(num)
num = 10
num %= 10
print(num)

20
0
100
1.0
1
10000000000
0

### Logical Operators

In [6]:
a = 10
b = 5
print(not a > b)
print(a > b and b > a)
print(a > b or b > a)

False
False
True

## Type conversion

In [9]:
a, b = 4,5.0
sum = a + b
print(sum)

# Type casting
a = int("3")
b = 6
print(a + b)

9.0
9

## Input

In [1]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
marks = float(input("Enter your marks: "))
print("Welcome", name)
print("age: ", age)
print("Marks: ", marks)

Enter your name:  Zeeshan
Enter your age:  20
Enter your marks:  0

Welcome Zeeshan
age:  20
Marks:  0.0

In [2]:
# Write a program to input two numbers and print their sum
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
sum = num1 + num2
print(sum)

Enter number 1:  12
Enter number 2:  48

60

In [4]:
# Write a program to input side of a square and print its area
side = float(input("Enter side of the square: "))
area = side * side
print("Area: ", area)

Enter side of the square:  12

Area:  144.0

In [6]:
# Write a program to input two floating point numbers and print their average.
num1 = float(input("Enter first: "))
num2 = float(input("Enter second: "))
average = (num1 + num2)/2
print("Average: ", average)

Enter first:  12
Enter second:  45

Average:  28.5

In [7]:
# Write a program to input two int numbers, a and b.
# Print True if a is greater than or equal to b.If not print False.
num1 = int(input("First Number: "))
num2 = int(input("Second Number: "))
if num1>=num2:
    print(True)
else:
    print(False)

First Number:  12
Second Number:  3

True

## String
String is data type that stores a sequence of characters.
#### Basic Operations
* concatenation
  ``` "hello" + "world" ---> "helloworld"```
* length of str
  ``` len(str)```

### Indexing in strings

In [8]:
str1 = "Virtual Infinity"
print(str1[6])

l

### Slicing in string
Accessing parts of a string

In [13]:
myStr = "Virtual Infinity"
print(myStr[8:])
print(myStr[:8])
print(myStr[::-1])

Infinity
Virtual
ytinifnI lautriV

### Basic functions in strings

In [14]:
str = "Virtual Infinity"
print(str.endswith("ty"))
print(str.endswith("py"))

True
False

In [15]:
str = "virtual infinity"
print(str.capitalize())

Virtual infinity

In [16]:
str = "virtual infinity"
print(str.replace("i", "!"))

v!rtual !nf!n!ty

In [17]:
  str = "virtual infinity"
print(str.find("l"))

6

In [18]:
print(str.count("virtual"))

1

#### Practice

In [20]:
# Write a program to input user's first name and print its length
firstName = input("Enter your first name: ")
nameLen = len(firstName)
print("Length: ", nameLen)

Enter your first name:  Zeeshan

Length:  7

In [22]:
# Write a program to find the occurrence of $ in a string
myStr = "thi$ i$ $tring"
print(myStr.count("$"))

3

## List Methods
``` python
list = [3,4,5,6]
list.append(7)
list.sort()
list.sort(reverse = True)
list.reverse()
list.insert(index, value)
```

In [1]:
x = [3,4,5,6]
x.append(5)
print(x)
x.sort()
print(x)
x.sort(reverse = True)
print(x)
x.reverse()
print(x)
x.insert(2,8)
print(x)
x.remove(4)
print(x)
x.pop()
print(x)

[3, 4, 5, 6, 5]
[3, 4, 5, 5, 6]
[6, 5, 5, 4, 3]
[3, 4, 5, 5, 6]
[3, 4, 8, 5, 5, 6]
[3, 8, 5, 5, 6]
[3, 8, 5, 5]

## Tuple Methods

In [5]:
tup = (4,6,2,1,8,9,5)
print(tup.index(1))
print(tup.count(4))

3
1

## Let's Practice List

In [6]:
# Write a program to ask the user to enter the names of their 3 favorite books and store them in a list
books = []
ask1 = input("Enter your fav book: ")
books.append(ask1)
ask2 = input("Enter your fav book 2: ")
books.append(ask2)
ask3 = input("Enter your fav book 3: ")
books.append(ask3)
print(books)

Enter your fav book:  JKP
Enter your fav book 2:  Namal
Enter your fav book 3:  Mushaf

['JKP', 'Namal', 'Mushaf']

In [14]:
# Write a program to check if a list contains a palindrome of elements.
list = [1,2,1]
plist = list.copy()
plist.reverse()
if plist == list:
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [19]:
# Write a program to count the number of students with "A" grade in the following list.
grade = ("C", "D", "A", "A", "B", "B", "A")
print(grade.count("A"))
gradelist = ["C", "D", "A", "A", "B", "B", "A"]
# Store the above values in a list & sort them from "A" to "D".
gradelist.sort()

print(gradelist)

3
['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [8]:
nums = (1,4,9,16,25,36,49,64,81,100)
x = int(input("Enter a Number: "))
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("found at", i)
        break
    else:
        continue
    i += 1

Enter a Number:  30

KeyboardInterrupt:

## Break & Continue

In [6]:
i = 1
while i <= 5:
    print(i)
    if( i == 3):
        break
    i+=1

1
2
3

## Loops
For Loops are used for sequential traversal. For traversing list, string, tuples etc.

In [9]:
numbers = [1,2,3,4,5,6]
for n in numbers:
    print(n)

1
2
3
4
5
6

In [21]:
cities = {"Islamabad", "Karachi", "Lahore", "Multan"}
for city in cities:
    print(city)
else:
    print("Loop Ended")

Karachi
Islamabad
Lahore
Multan
Loop Ended

### Linear Search

In [29]:
tup = (5,4,2,78,3,23,17,96,4,24,56,32,62,93,16)
x = 17
for i in tup:
    if i == x:
        print("found")
    else:
        print("Not found")

Not found
Not found
Not found
Not found
Not found
Not found
found
Not found
Not found
Not found
Not found
Not found
Not found
Not found
Not found

Write a Program to find sum of scalar using for loop

In [32]:
n = 5
sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

15

Write a program to find the sum of first n numbers using while loop

In [34]:
n = 5
sum = 0
i = 1
while i <= n:
    sum += i
    i +=1
print(sum)

15

Write a program to find the factorial of first n numbers using for loop.

In [35]:
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

## `range()`
`range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
``` IPython::python
range(start, stop, step)
```

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Even Numbers

In [17]:
for i in range(2,30,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

### Odd Number

In [18]:
for i in range(1,30,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### Table Printer

In [20]:
n = int(input("Enter a Number: "))
for i in range(n, n*11, n):
    print(i)

Enter a Number:  3

3
6
9
12
15
18
21
24
27
30

### Let's Practice

In [26]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
for i in range(100,0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## pass statement
pass is a null statemet that does nothing. It is used as a placeholder for future code.
``` python
def add():
    pass
```

## Functions
Block of statements that perform a specific task.
Functions, which are named blocks of code
that are designed to do one specific job.
When you want to perform a particular task
that you’ve defined in a function, you call the name
of the function responsible for it. If you need to
perform that task multiple times throughout your program, you don’t
need to type all the code for the same task again and again; you just call
the function dedicated to handling that task, and the call tells Python to
run the code inside the function. 
``` python
def func_name(param1, param2..):
    # Code
    return
func_name(arg1, arg2..) # Call function
```
### Types of Functions
  1. Built-in Functions : Built-in functions are already written in python.
  2. User defined Functions
### Default Parameters
Assigning a default value to parameter, which is used when no argument is passed.

In [36]:
def sum(a,b):
    return a + b
print(sum(4,5))

9

### Average of 3 Numbers

In [38]:
def avg(a,b,c):
    return (a + b + c)/3
print(avg(3,4,5))

4.0

### Dot Product

In [ ]:
def findot(a = 0,b = 0):
    dot = 0
    for i in a:
        for j in b:
            product = i * j
            dot +=product
            return dot
print(findot())

### Let's Practice

#### WAF to print the length of a list.

In [47]:
def lenlist(mylist = []):
    return len(mylist)
print(lenlist([1,2,3,4,5]))

5

#### WAF to print the elements of a list in a single line

In [49]:
def plist(list = []):
    for i in list:
        print(i, end = " ")
plist([1,2,3,4,5])

1 2 3 4 5

#### WAF to print the factorial of n.

In [50]:
def fact(n = 0):
    fac = 1
    for i in range(1, n+1):
         fac *= i
    return fac
print(fact(5))

120

#### WAF to convert currencies.

In [51]:
def concur(c2_rate, c2):
    return c2_rate * c2
print(concur(280, 40))

11200

#### WAF to tell if a number is even or odd.

In [54]:
def tell(n):
    ans = 0
    if n %2 == 0:
        ans = "Even"
        return ans
    else:
        ans = "Odd"
        return ans 
print(tell(3))

Odd

## Recursion
Recursion is a function who calls itself repeatedly.

In [4]:
stack = []
def show(n):
    if n == 0:
        return
    print(n)
    stack.append(n)
    show(n-1)

    
show(4)
print(stack)

4
3
2
1
[4, 3, 2, 1]

In [5]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)
print(fact(5))

120